<h1>Admin Home</h1>

<form role="form" accept-charset="UTF-8" enctype="multipart/form-data" action="/admin/homeimage/uploads" method="POST">
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
         <label>顶部广告图</label>
        <input class="form-control" placeholder="input adimage" type="file" name="adimage">
        <div class='row help-block'>
          <img class="col-lg-8 col-lg-offset-2 img-responsive" src="/uploads/banner.png">
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-11">
      <button type="submit" class="pull-right btn btn-primary">提  交</button>
    </div>
  </div>
</form>