<header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
    <ol class="carousel-indicators">
      {{#each banners}}
        <li data-target="#myCarousel" data-slide-to="{{@index}}" {{#if @first}} class="active" {{/if}}></li>
      {{/each}}
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
      {{#each banners}}
        <div class="item {{#if @first}} active {{/if}}">
          <a href="{{url}}">
            <img class="fill img-responsive" style="width: 100%;" src="{{ image }}">
          </a>
        </div>
      {{/each}}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>

<script>
$('.carousel').carousel({
    interval: 5000 //changes the speed
})
</script>