<div class="mask" style="display: none;" id="mask">
  <div class="tk">
      <div class="title">购买确认</div>
      <div class="con">
        <div class="pl15"><span class="tit">手机号码：</span><span id="maskmobile"></span></div>
        <div class="pl15"><span class="tit">提取流量：</span><span class="orange" id="maskflow"></span></div>
      </div>
      <div class="bot">
          <div class="back"><a href="javascript:void(0);">取消</a></div>
          <div class="sure"><a href="javascript:void(0);">确定</a></div>
      </div>
  </div>
</div>