<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
        Primary Panel
    </div>
    <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
    </div>
    <div class="panel-footer">
        Panel Footer
    </div>
  </div>
</div>