<ul class="nav nav-sidebar">
  <li><a href="/admin/customers">用户</a></li>
  <li><a href="/admin/sellers">商家</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="/admin/flowtasks">任务</a></li>
  <li><a href="/admin/flowhistories">历史记录</a></li>
  <li><a href="/admin/apks">app管理</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="/admin/orders">流量币订单</a></li>
  <li><a href="/admin/extractorders">流量管理</a></li>
  <li><a href="/admin/messagequeues">短信</a></li>
</ul>

<script type="text/javascript">
$(function(){
  $("#siderbar li a").each(function(i, e) {
    var link = $(e).attr("href"),
        regexLink = '^' + link + "[\/|\?]\?.*"
    if(link !== '#' || link !== ''){
      if(window.location.pathname.match(regexLink)){
        $(e).parent().addClass("active")
      }
    }
  })
})
</script>

