var config = {
                'token': '',
                'appId': '',
                'aesKey': '',
                'appSecret': '',
                'apikey': '',
                'yunpian': '',
                'partnerKey' :''
                'mchId': '',
                'user': '',
                'pwd' : '',
                'yunma' : '',
                'did' : '',
                'umeolKey' : '',
                'umeolUrl' : '',
                'umeolRechargeUrl' : '',
                'menus': {
                           "button":[
                           {
                              "type":"view",
                              "name":"领取流量",
                              "url":"http://yiliuliang.net"
                            },
                            {
                                "type":"view",
                                "name":"我的钱包",
                                "url":"http://yiliuliang.net/auth"
                            },
                            {
                              "type":"view",
                              "name":"更多",
                              "sub_button":[
                              {
                                "type":"view",
                                "name":"关于易流量",
                                "url":"http://yiliuliang.net"
                              }]
                            }]
                        },
                'menus_keys': {
                  'button1' :'V1001_TODAY_TASKS'
                },
                'upload_path': '/public/uploads/',
                'hostname': 'yiliuliang.net',
                'maxfileuploadsize': 10240000 // 10m
              };

module.exports = config;