var config = {
                'token': '',  //公众平台
                'appId': '',  // 公众平台
                'aesKey': '',  // 公众平台
                'appSecret': '',  // 公众平台
                'apikey': '',  // 短信平台
                'yunpian': '',  // 短信平台
                'partnerKey' :'', //微信支付
                'mchId': '',  // 微信支付
                'user': '',
                'pwd' : '',
                'yunma' : '',
                'did' : '',
                'umeolKey' : '',
                'umeolUrl' : '',
                'umeolRechargeUrl' : '',
                'menus': {
                           "button":[
                           {
                              "type":"view",
                              "name":"领取流量",
                              "url":""
                            },
                            {
                                "type":"view",
                                "name":"我的钱包",
                                "url":""
                            },
                            {
                              "type":"view",
                              "name":"更多",
                              "sub_button":[
                              {
                                "type":"view",
                                "name":"关于易流量",
                                "url":""
                              }]
                            }]
                        },
                'menus_keys': {
                  'button1' :'V1001_TODAY_TASKS'
                },
                'upload_path': '/public/uploads/',
                'hostname': '',
                'maxfileuploadsize': 10240000, // 10m
                'max_depth': 3,
                'huawo_account': '',
                'huawo_api_key': '',
                'huawo_hostname': ''
              };

module.exports = config;
