<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Yiweixin admin</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css">
  <link rel="stylesheet" href="/stylesheets/admin.css">
  <link rel="stylesheet" href="/bower_components/select2/dist/css/select2.min.css"></link>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/kindeditor/kindeditor-min.js"></script>
  <script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <script src="/bower_components/select2/dist/js/select2.min.js"></script>

  {{!-- last js --}}
  <script src="/javascript/admin.js"></script>
</head>
<body>
  {{> header}}
  <div class="container-fluid">
    <div class="row">
      <div id="siderbar"  class="col-sm-3 col-md-2 sidebar">
        {{> sidebar}}
      </div>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {{{body}}}
      </div>
    </div>
  </div>

  <hr>

  {{{_sections.javascript}}}
</body>
</html>