<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>yiweixin</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  {{!-- <link rel="stylesheet" href="/stylesheets/active.css"> --}}
  <link rel="stylesheet" href="/stylesheets/main.css">

  <script data-main="/javascript/main" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script data-main="/javascript/main" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script data-main="/javascript/main" src="/javascript/base.js"></script>

</head>
<body>
    {{{body}}}
</body>
</html>