<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>yiweixin</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <script data-main="/javascript/main" src="/bower_components/requirejs/require.js"></script>
</head>
<body>
  {{> header}}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        {{> sidebar}}
      </div>

      <div class="col-md-10">
        {{{body}}}
      </div>
    </div>
  </div>
</body>
</html>