<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>易流量</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/main.css">

  <script data-main="/javascript/main" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script data-main="/javascript/main" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script data-main="/javascript/main" src="/javascript/base.js"></script>
  <script type="text/javascript" src="/bower_components/handlebars/handlebars.min.js"></script>
  <script type="text/javascript" src='/javascript/rechargeflow.js'></script>
  <script data-main="/javascript/main" src="/javascript/register.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>
