<div class="chat-panel panel panel-default">
  <div class="panel-heading navbar-fixed-top">
    <div class="row">
      <div class="col-xs-3 col-md-3">
        <img class="img-responsive" src="http://img.wdjimg.com/mms/icon/v1/6/2a/4764bbc6717fe399db4eb2e5e41342a6_68_68.png">
      </div>
      <div class="col-xs-8 col-md-8">
        <div class="row">
          <p class="col-xs-12">暴风影音</p>
         <small class="col-xs-6  text-muted">
          74 次安装
          </small>
          <small class="col-xs-6  text-muted">
          20.21 M
          </small>
        </div>
      </div>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-chevron-down"></i>
        </button>
        <ul class="dropdown-menu slidedown">
            <li>
                <a href="#">
                    <i class="fa fa-refresh fa-fw"></i> Refresh
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-check-circle fa-fw"></i> Available
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-times fa-fw"></i> Busy
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-clock-o fa-fw"></i> Away
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <i class="fa fa-sign-out fa-fw"></i> Sign Out
                </a>
            </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-xs-offset-5  col-md-2 col-md-offset-5">
        <span class='orange'>详情</span>
      </div>
    </div>

  </div>
    <!-- /.panel-heading -->
    <div class="panel-body" style="min-height: 740px; padding-top: 110px;">
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <span class="green">安全认证</span>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <span>版本： 1.7</span>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-xs-12">
            <p>
              <i class="glyphicon glyphicon-tags pull-left"></i>

              <span class="col-xs-7 clo-xs-offset-2">下载安装获得流量： </span>
              <span class="pull-right text-muted small btn btn-warning btn-xs"><em>10 M</em>
              </span>
            </p>
          </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-4 col-md-4">
          <img class="img-responsive" src="http://www.apk3.com/uploads/allimg/150423/20150724101823_4366.jpg">
        </div>
        <div class="col-xs-4 col-md-4">
          <img class="img-responsive" src="http://www.apk3.com/uploads/allimg/150423/20150724101823_4366.jpg">
        </div>
        <div class="col-xs-4 col-md-4">
          <img class="img-responsive" src="http://www.apk3.com/uploads/allimg/150423/20150724101823_4366.jpg">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <p>
            简介：<br>
            QQ空间(Qzone)是中国最大的社交网络，是QQ用户的网上家园，是腾讯集团的核心平台之一。您可以玩游戏、玩装扮、上传照片、写说说、写日志，黄钻贵族还可以免费换装
          </p>
        </div>
      </div>
    </div>
    <!-- /.panel-body -->
    <div class="panel-footer navbar-fixed-bottom">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <a href="">
              <button type="button" class="btn btn btn-warning btn-lg btn-block">
                <i class="glyphicon glyphicon-download-alt"></i>
                下载
              </button>
            </a>
          </div>
        </div>
    </div>
    <!-- /.panel-footer -->
</div>