<style type="text/css">
.myaccount-title {
  background-color: #6F6565;
  padding: 10px;
}
.myaccount-title span {
  margin: 30px;
  color: #ffffff;"
}

.aline {
  font-size: x-large;
  margin: 10px;
}
.aicon {
  margin-top: 18px;
  margin-right: 10px;
}
</style>

<img class="img-responsive" src="/uploads/banner.png" style="width: 100%;">

<h5 class="myaccount-title">
  <span>xxxxxxxxx</span>
</h5>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-8 col-lg-offset-2 btn-group-lg">
      <span class="pull-left aline">
        <i class="glyphicon glyphicon-th-large"></i>  我的二维码</span>
      <span class="pull-right"><i class='glyphicon glyphicon-menu-right aicon'></i></span>
    </div>
    <hr>
    <div class="col-xs-12 col-md-12 col-lg-8 col-lg-offset-2 btn-group-lg">
      <span class="pull-left aline">
        <i class="glyphicon glyphicon-cog"></i>  我的会员</span>
      <span class="pull-right"><i class='glyphicon glyphicon-menu-right aicon'></i></span>
    </div>
    <hr>
    <div class="col-xs-12 col-md-12 col-lg-8 col-lg-offset-2 btn-group-lg">
      <span class="pull-left aline">
        <i class="glyphicon glyphicon-folder-close"></i>  佣金提现</span>
      <span class="pull-right"><i class='glyphicon glyphicon-menu-right aicon'></i></span>
    </div>
    <hr>
    <div class="col-xs-12 col-md-12 col-lg-8 col-lg-offset-2 btn-group-lg">
      <span class="pull-left aline">
        <i class="glyphicon glyphicon-home"></i>  我的推广</span>
      <span class="pull-right"><i class='glyphicon glyphicon-menu-right aicon'></i></span>
    </div>
    <hr>
    <div class="col-xs-12 col-md-12 col-lg-8 col-lg-offset-2 btn-group-lg">
      <span class="pull-left aline">
        <i class="glyphicon glyphicon-header"></i>  帮助说明</span>
      <span class="pull-right"><i class='glyphicon glyphicon-menu-right aicon'></i></span>
    </div>
    <hr>
  </div>
</div>