
<div class="container">
  <div class="row">
    {{> "yiweixin/banners" banners=banners }}
  </div>

  <div class="space-6"></div>
  <div class="row">
   <p class="bg-primary text-center col-xs-6" style='padding: 15px'>
    <a href="" style='color: #FFF'>剩余E币： {{ customer.remainingTraffic }}</a>
   </p>
   <p class="bg-primary text-center col-xs-6" style='padding: 15px'>
    <a href="/myaccount" style='color: #FFF'>返利E币： {{ customer.salary }}</a>
   </p>
  </div>
  <div class="row">
    <div class="hexagon text-center">
      <a href="/tasks">
        <div data-action="hexagon" class="hexagon-by item1">
          <div class="item-img1 item-img"></div>
          <p>免费流量</p>
        </div>
      </a>
      <a href="/payment/">
        <div data-action="hexagon" class="hexagon-by item2">
          <div class="item-img2 item-img"></div>
          <p>购买E币</p>
        </div>
      </a>
      <a href="/extractflow">
        <div data-action="hexagon" class="hexagon-by item3">
          <div class="item-img3 item-img"></div>
          <p>流量充值</p>
        </div>
      </a>
      <a href="/myaccount">
        <div data-action="hexagon" class="hexagon-by-1 item4">
          <div class="item-img4 item-img"></div>
          <p>我的分销</p>
        </div>
      </a>
      <a href="/income">
        <div data-action="hexagon" class="hexagon-by-1 item5">
          <div class="item-img5 item-img"></div>
          <p>累计收入</p>
          <div class="url"></div>
        </div>
      </a>
      <a href="/spend">
        <div data-action="hexagon" class="hexagon-by-1 item6">
          <div class="item-img6 item-img"></div>
          <p>累计支出</p>
        </div>
      </a>
      <div class="hexagon-max hexagon-user">
        <div class="boxF">
          <div class="boxS">
            <div class="boxT" style="background: #ccc;">
              <div class="user" style="background: url({{ customer.headimgurl }}) 0px 0px / 100% no-repeat;">
                <!--<p>梦一柯南</p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="row">
    <div class="col-xs-3">@孚云网络</div>
    <div class='col-xs-8 pull-right'>广州孚技网络科技有限公司</div>
  </div>
</div>
{{#iflt 100 customer.id }}
  <img class="app-guide1" src="/images/my-logo.png">
{{/iflt}}