<div class="container">
  <div class="row">
    <img class="img-responsive" src="/images/banner.png" style="width: 100%;">
  </div>

  <div class="space-6"></div>
  <div class="row">
   <p class="bg-primary text-center" style='padding: 15px'>
    <a href="" style='color: #FFF'>流量币： {{ customer.remainingTraffic }}M</a>
   </p>
  </div>
  <div class="row">
    <div class="hexagon text-center">
      <a href="/tasks">
        <div data-action="hexagon" class="hexagon-by item1">
          <div class="item-img1 item-img"></div>
          <p>领取</p>
        </div>
      </a>
      <a href="/payment/">
        <div data-action="hexagon" class="hexagon-by item2">
          <div class="item-img2 item-img"></div>
          <p>购买</p>
        </div>
      </a>
      <a href="/extractflow">
        <div data-action="hexagon" class="hexagon-by item3">
          <div class="item-img3 item-img"></div>
          <p>兑换</p>
        </div>
      </a>
      <a href="/apkcenter">
        <div data-action="hexagon" class="hexagon-by-1 item4">
          <div class="item-img4 item-img"></div>
          <p>软件中心</p>
        </div>
      </a>
      <a href="/income">
        <div data-action="hexagon" class="hexagon-by-1 item5">
          <div class="item-img5 item-img"></div>
          <p>累计收入</p>
          <div class="url"></div>
        </div>
      </a>
      <a href="/spend">
        <div data-action="hexagon" class="hexagon-by-1 item6">
          <div class="item-img6 item-img"></div>
          <p>累计支出</p>
        </div>
      </a>
      <div class="hexagon-max hexagon-user">
        <div class="boxF">
          <div class="boxS">
            <div class="boxT" style="background: #ccc;">
              <div class="user" style="background: url({{ customer.headimgurl }}) 0px 0px / 100% no-repeat;">
                <!--<p>梦一柯南</p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <p>@易流量</p>
  <p>广州孚技网络科技有限公司</p>
</div>