<div class="space-1"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="well well-sm">
        <div class="row">
          <div class="col-xs-4">
            <img src="" onError="this.src='http://placehold.it/380x380';" class="img-rounded img-responsive">
          </div>
          <div class="col-xs-8">
            <h5>xxxxx</h5>
            <p><small>关注时间： 2015-11-15</small></p>
            <p><small>推荐人： </small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-11 slave-detail">
      <div class="row">
        <div class="col-xs-6">
          <span>累计消费： ￥10.00</span>
        </div>
        <div class="col-xs-6">
          <span>累计消费： ￥10.00</span>
        </div>
      </div>
    </div>

  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-12">
        <div class="panel-pl">
          <a class="coll-link" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            <div class="panel-heading">
              <h4 class="panel-title">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>    一级会员
                  <span class="badge pull-right orange-bg">10</span>
              </h4>
            </div>
          </a>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="slaves">
                <li>
                  <a href="#">
                    <span>
                      <i class="glyphicon glyphicon-user" ></i>   人数
                    </span>
                    <span class="badge pull-right orange-bg">10</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xs-12">
        <div class="panel-pl">
          <a class="coll-link" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            <div class="panel-heading">
              <h4 class="panel-title">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>    二级会员
                  <span class="badge pull-right orange-bg">10</span>
              </h4>
            </div>
          </a>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="slaves">
                <li>
                  <a href="#">
                    <span>
                      <i class="glyphicon glyphicon-user" ></i>   人数
                    </span>
                    <span class="badge pull-right orange-bg">10</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="panel-pl">
          <a class="coll-link" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            <div class="panel-heading">
              <h4 class="panel-title">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>    三级会员
                  <span class="badge pull-right orange-bg">10</span>
              </h4>
            </div>
          </a>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="slaves">
                <li>
                  <a href="#">
                    <span>
                      <i class="glyphicon glyphicon-user" ></i>   人数
                    </span>
                    <span class="badge pull-right orange-bg">10</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  </div>
</div>