@media screen and (max-width:350px){*{font-size:1em;}}
@media screen and (min-width:350px){*{font-size:1em;}}
body{font-size:1.4em;font-family: "arial","微软雅黑"; margin:0; padding:0; color:#424242; background:#eee;}
html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6 {-webkit-text-size-adjust:none}
a,body {-webkit-tap-highlight-color:rgba(0,0,0,0); color:#444;}/*去掉输入框选择背景颜色*/
a,a:hover,.a:link,a:active,a:visited{ text-decoration:none; color:#444;}
ul,li{ list-style:none;}
select,input,textarea{font-family: "arial","微软雅黑"; outline:none;}
.gray{color:#888;}
.blue{ color:#008cff;}
.green{color:#28a000;}
.orange{ color:#ff5000;}
.clear{ clear:both;}
.ml{ padding:0 10px;}
.pl15{ padding:0 10%;}
.fl{float:left;}
.fr{float:right;}
.more{ height:24px; width:100%; margin:0 10px;}
.more a{ line-height:24px; text-align:center; color:#666; display:block;}

/*活动日志*/
.active-share{height:28px; position:absolute; bottom:6px; right:0px; z-index:10; font-size:1em;}
.active-share a{
background: linear-gradient(top, #ff7800, #ff6800 ,#ff6e00,#ff7100,#ff6400);
background: -webkit-gradient(linear, 0 0, 0 100% , from(#ff7800),to(#ff6400));
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7800, endColorstr=#ff6400);
color:#fff; text-align:center; border:1px solid #ff5000; border-radius:3px;height:30px; line-height:30px;display:block;box-shadow:0px 1px 2px #fccea0;box-shadow: inset 0px 0px 1px #fccea0;font-size:1.5em;!important; text-align:center; padding:0 10px;}

/*收支明细*/
.detail{ margin:10px 0; overflow:hidden; background:#fff;}
.tab{ padding:0; margin:0 auto 15px; width:60%; height:32px; background:#fff; border-radius:4px; overflow:hidden;border:1px solid #ff5000; text-align:center;}
.tab li{ width:50%; line-height:32px; text-align:center; float:left;}
.tab li a{font-size:1.3em;!important; display:block; color:#ff5000;}
.tab li a:hover,.tab li.cur a{ background:#ff5000; color:#fff;}
#popup_message {padding: 12% 2em; line-height: 21px; font-size: 1.2em; color: #666;}
body { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);}
p {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
.space-6 {
  padding-top: 6px;
}

.hexagon .hexagon-by {
  width: 10rem;
  height: 8.61111rem;
  background: url("/images/index-box.png") no-repeat;
  background-size: 100% auto;
  position: absolute;
  z-index: 111;
  transform: rotate(0deg);
  -webkit-transition: transform 1s ease 0s;
}

.hexagon .hexagon-by-1 {
  width: 10rem;
  height: 8.61111rem;
  background: url("/images/index-box.png") no-repeat 0 bottom;
  background-size: 100% auto;
  position: absolute;
  z-index: 111;
  transform: rotate(0deg);
  -webkit-transition: transform 1s ease 0s;
}

.hexagon {
  width: 280px;
  margin: 0 auto;
  overflow: hidden;
  height: 30.55556rem;
  position: relative;
}

.hexagon .item2 {
  left: 8.77778rem;
  top: 1.66667rem;
}

.hexagon .item1 {
  left: 1rem;
  top: 6.11111rem;
}

.hexagon .item3 {
  left: 16.83333rem;
  top: 6.11111rem;
}

.hexagon .item4 {
  left: 16.83333rem;
  top: 15rem;
}

.hexagon .item5 {
  left: 8.77778rem;
  top: 19.44444rem;
}

.hexagon .item6 {
  left: 1rem;
  top: 15rem;
}

.hexagon .item-img2 {
  background: url("/images/icon-4.png");
  background-size: 100%;
}

.hexagon .item-img {
  width: 3.44444rem;
  height: 3.44444rem;
  background-size: 3.44444rem auto;
  position: absolute;
  left: 3.33333rem;
  top: 1.38889rem;
}
.hexagon p {
  text-align: center;
  color: #fff;
  margin: 5rem auto 0 auto;
  width: 100%;
}

.hexagon .item-img1 {
  background: url("/images/icon-3.png");
  background-size: 100%;
}

.hexagon .item-img3 {
  background: url("/images/icon-5.png");
  background-size: 100%;
}

.hexagon .item-img4 {
  background: url("/images/icon-6.png");
  background-size: 100%;
}

.hexagon .item-img5 {
  background: url("/images/icon-7.png");
  background-size: 100%;
}

.hexagon .item-img6 {
  background: url("/images/icon-8.png");
  background-size: 100%;
}

.hexagon .hexagon-user {
  left: 10.87778rem;
  top: 10.55556rem;
}
.hexagon .hexagon-max {
  width: 5rem;
  height: 8.21111rem;
  background: #fff;
  position: absolute;
  z-index: 111;
  transform: rotate(0deg);
  -webkit-transition: transform 1s ease 0s;
}
.hexagon .boxF {
  -webkit-transform: rotate(90deg);
  float: left;
  margin-left: 0.27778rem;
}
.hexagon .boxF{
  width: 7.94444rem;
  height: 9.33333rem;
  overflow: hidden;
}

.hexagon .boxF {
  position: absolute;
  z-index: 120;
  left: -1.25rem;
}
.hexagon .boxT {
  -webkit-transform: rotate(-60deg);
  visibility: visible;
}

.hexagon .boxF, .hexagon .boxS, .hexagon .boxT {
  width: 7.94444rem;
  height: 9.33333rem;
  overflow: hidden;
}
.hexagon .boxS {
  -webkit-transform: rotate(-60deg);
}

.hexagon .user {
  width: 8.33333rem;
  height: 9.72222rem;
  -webkit-transform: rotate(30deg);
  font-weight: bold;
  margin-left: -0.5rem;
  overflow: hidden;
  background-size: 100% auto;
}

.footer {
    position: fixed;
    width: 100%;
    height: 2.5rem;
    background: rgba(0, 0, 0, 0.2);
    bottom: 0;
    z-index: 99999
}
