body {
  padding-top: 70px;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.content {
    overflow: hidden;
    padding: 0;
    margin-bottom: 10px;
}

.liuliang {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffb400, endColorstr=#ff7800);
    background: linear-gradient(top, #ffb400, #ffa800, #ff9800, #ff8700, #ff7800);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffb400), to(#ff7800));
    background: -moz-linear-gradient(top, #ffb400, #ffa800, #ff9800, #ff8700, #ff7800);
    padding: 10px;
    overflow: hidden;
    border-bottom: 1px solid #ff5000;
    text-align: center;
}

.col-md-6 {
    width: 60%;
    float: left;
}

.col-md-4 {
    width: 40%;
    float: left;
}

.name-img {
    width: 74px;
    margin: 0 auto;
}

    .name-img a {
        background: #fff;
        display: block;
        height:68px;
        overflow: hidden;
        width:68px;
        box-shadow: 0px 1px 1px #b4b9b4;
        border-radius:68px;
        padding:3px;
    }

        .name-img a img {
            height:68px;
            width:68px;
            border-radius: 68px;
            display: inline-block;
        }

.liuliang .name-con {
    overflow: hidden;
    font-size: 1em;
    margin-top: 10px;
  background:url(../images/m_line.png) no-repeat center 4px;
  background-size:1px 16px;
}
.liuliang .name-con li{float:left;width:50%;}
.liuliang .name-con .orange {float:right;text-align:right; padding-right:10px;}
.liuliang .name-con .tel {text-align:left; padding-left:10px; float:left;}
.liuliang .name-con .orange,.liuliang .name-con .tel {
        font-size: 1.2em;
        color: #fff;
    line-height:24px;
    }

.mingxi {
    text-align: right;
    margin: 14px 0;
}

    .mingxi a {
        color: #008cff;
        font-size: 1.4em!important;
        display: block;
        line-height: 22px;
    }

.ll-shuzi {
    padding: 10px;
    position: relative;
    background: #fff;
    margin-bottom: 10px;
    border-bottom: 1px solid #dcdce0;
}

.yue {
    border-bottom: 1px solid #dcdce0;
}

.ll-shuzi .tit {
    background: url(../images/icon-01.png) no-repeat;
    background-size: 24px 24px;
    padding-left: 34px;
    line-height: 24px;
    font-size: 1.3em;
    color: #666;
}

.ll-shuzi .miane {
    position: relative;
    overflow: hidden;
    padding-left: 36px;
}

.ll-shuzi .shuzi {
    font-size: 5.6em;
    color: #ff5000;
}

.zhao {
    font-size: 1.4em;
    color: #888888;
}

.zhuanqu {
    position: absolute;
    bottom: 12px;
    right: 0px;
}

    .zhuanqu a {
        color: #fff;
        text-align: center;
        border: 1px solid #ff5000;
        border-radius: 2px;
        background: #ff7800;
        box-shadow: inset 0px 0px 1px #ffaf00;
        height: 28px;
        line-height: 28px;
        display: block;
        font-size: 1.5em;
        padding: 0 10px;
        display: block;
    }

.help {
    position: absolute;
    top: 7px;
    right: 6px;
}

    .help a {
        background: url(../images/help.png) no-repeat center center;
        background-size: 24px 24px;
        line-height: 24px;
        width: 32px;
        height: 32px;
        display: block;
        overflow: hidden;
        text-indent: -1000px;
    }

.btn-submit {
    height: 42px;
    width: 100%;
    overflow: hidden;
    margin: 20px 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7800, endColorstr=#ff6400);
    background: linear-gradient(top, #ff7800, #ff6800,#ff6e00,#ff7100,#ff6400);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff7800),to(#ff6400));
    color: #fff;
    text-align: center;
    border: 1px solid #ff5000;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    display: block;
    box-shadow: 0px 1px 2px #fccea0;
    box-shadow: inset 0px 0px 1px #fccea0;
    font-size: 1.6em;
}

.btn-submit:hover {
    background: #ff763e;
}

.btn-white {
    height: 44px;
    width: 100%;
    overflow: hidden;
    margin: 15px 0;
}

    .btn-white a {
        color: #444;
        text-align: center;
        border: 1px solid #96a0ac;
        border-radius: 4px;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f0f4fa, endColorstr=#e4e8ec);
        background: linear-gradient(top, #f0f4fa, #eef2f8, #eaeef2, #e6eaee, #e4e8ec);
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f4fa), to(#e4e8ec));
        box-shadow: 0px 1px 2px #e8e8ee;
        box-shadow: inset 0px 0px 1px #fff;
        height: 42px;
        line-height: 42px;
        display: block;
        font-size: 1.4em;
    }

        .btn-white a:hover {
            background: #fafafa;
        }
/*兑换到手机*/
.form-group {
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #dcdce0;
    border-top: 1px solid #dcdce0;
    margin-bottom: 10px;
    overflow: hidden;
}

.tel-name {
    height: 21px;
    line-height: 21px;
    font-size: 1em;
    margin-bottom: 5px;
}

.form-group span {
    font-size: 1.1em;
    }

.tel-input {
    border: 1px solid #c8c8d4;
    background-color: #fff;
    border-radius: 4px;
    padding: 5px 6px;
    position: relative;
}

    .tel-input:hover {
        background: #fff8eb;
        border: 1px solid #ff5000;
    }
.tel-con{font-size: 1em; margin-top:5px;}

.form-control {
    display: block;
    width: 100%;
    height: 22px;
    color: #555;
    border: none;
    font-size: 1.2em;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

    .form-control:hover {
        background: #fff8eb;
    }

.correct {
    padding: 3px 0 3px 20px;
    background: url(../images/arrow-02.png) no-repeat left center;
    color: #28a000;
    background-size: 16px 16px;
    font-size: 1em;
    line-height: 16px;
    margin-top: 5px;
}

.error {
    padding: 3px 0 3px 26px;
    background: url(../images/arrow-03.png) no-repeat left center;
    color: #28a000;
    background-size: 20px 20px;
    color: #ff5005;
    font-size: 1em;
    !important;
    line-height: 20px;
}

.llb {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

    .llb a {
        border: 1px solid #c8c8d4;
        background-color: #fff;
        border-radius: 4px;
        width: 28.2%;
        margin: 5px 3% 5px 0;
        text-align: center;
        display: inline-block;
        padding: 8px 0;
        font-size: 1.1em;
        color: #666;
        position: relative;
        z-index: 0;
    }

        .llb a:hover, .llb a.selected {
            background: #fff8ea;
            color: #666;
            border: 1px solid #ff6428;
        }

    .llb .an {
        position: absolute;
        right: 0px;
        bottom: 0px;
        background: url(../images/correct.png) no-repeat;
        width: 13px;
        height: 13px;
        display: none;
        background-size: 13px 13px;
    }

.selected .an {
    display: block;
}

.llb a.mask01 {
    height: 100%;
    display: inline-block;
    background: #ececec;
    order: 2px solid #96a0ac;
    color: #96a0ac;
}

.danwei {
    font-size: 1.2em;
    position: absolute;
    right: 10px;
    color: #888;
    top: 6px;
}

.tel-code {
    float: left;
    line-height: 36px;
    display: block;
    font-size: 1em;
}

.img-top {
    margin: 0px 10px;
    width: 54px;
    height: 32px;
    float: left;
}

    .img-top img {
        width: 54px;
        height: 36px;
    }

.btn-code {
    height: 36px;
    overflow: hidden;
    float: right;
    color: #444;
}

    .btn-code a {
        color: #444;
        padding: 0 10px;
        text-align: center;
        border: 1px solid #96a0ac;
        border-radius: 4px;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f0f4fa, endColorstr=#e4e8ec);
        background: linear-gradient(top, #f0f4fa, #eef2f8, #eaeef2, #e6eaee, #e4e8ec);
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f4fa), to(#e4e8ec));
        box-shadow: 0px 1px 2px #e8e8ee;
        box-shadow: inset 0px 0px 1px #fff;
        height: 34px;
        line-height: 34px;
        display: block;
        font-size: 1.3em;
        !important;
    }

.message {
    background: #e2e1e6;
    border-top: 1px solid #c8c8d4;
    border-bottom: 1px solid #c8c8d4;
    padding: 10px;
}

.face {
    width: 14%;
    float: right;
}

    .face a {
        text-align: right;
        width: 44px;
        height: 36px;
        display: block;
    }

        .face a img {
            width: 36px;
            height: 36px;
            display: inline-block;
        }

.message-con {
    background: #e2e1e6;
    border-bottom: 1px solid #c8c8d4;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

    .message-con li {
        width: 21%;
        float: left;
    }

        .message-con li:nth-child(2), .message-con li:nth-child(3) {
            margin: 0 4%;
        }

        .message-con li a {
            width: 100%;
            height: 100%;
            position: relative;
        }

            .message-con li a img {
                width: 100%;
                height: 100%;
                max-width: 100%;
            }

.btn-an {
    position: absolute;
    right: 0px;
    bottom: 6px;
    background: url(../images/arrow-02.png) no-repeat;
    width: 13px;
    height: 13px;
    display: none;
    background-size: 13px 13px;
}

.selected .btn-an {
    display: block;
}
/*帮助中心*/
.help-con {
    padding: 10px 10px 0;
    overflow: hidden;
}

    .help-con h1 {
        font-size: 1.1em;
        height: 24px;
        line-height: 24px;
        padding: 0;
        margin: 0;
    }

    .help-con p {
        line-height: 21px;
        font-size: 1em;
        padding: 0;
        margin: 0 0 12px 0;
        text-indent: 2em;
    }

/*弹框样式*/
.mask {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5)!important;
    filter: alpha(opacity=50);
    width: 100%;
    height: 100%;
    z-index: 10;
}

.tk {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-top: 14%;
}

    .tk .title {
        height: 42px;
        text-align: center;
        line-height: 42px;
        background: #f47e1e;
        border-radius: 4px 4px 0 0;
        font-size: 1.4em;
        !important;
    color:#fff;
    }

    .tk .con {
        background: #fff;
        padding: 12% 0;
        overflow: hidden;
        line-height: 24px;
    font-family:"微软雅黑";
    }

        .tk .con .tit {
            font-size: 16px;
            !important;
        }

        .tk .con span {
            font-size: 16px;
            !important;
        }

        .tk .con .xinxi {
            padding: 0 20px;
            line-height: 24px;
            font-size: 1.4em;
            !important;
        }

            .tk .con .xinxi .blue {
                color: #008cff;
                font-size: 1.2em;
                !important;
            }

    .tk .bot {
        height: 52px;
        background: #fff;
        border-top: 1px solid #fff;
        border-radius: 0 0 4px 4px;
    }

    .tk .back {
        width: 30%;
        margin: 8px 5% 8px 15%;
        float: left;
    }

        .tk .back a {
            color: #444;
            text-align: center;
            border: 1px solid #96a0ac;
            border-radius: 4px;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f0f4fa, endColorstr=#e4e8ec);
            background: linear-gradient(top, #f0f4fa, #eef2f8, #eaeef2, #e6eaee, #e4e8ec);
            background: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f4fa), to(#e4e8ec));
            box-shadow: 0px 1px 2px #e8e8ee;
            box-shadow: inset 0px 0px 1px #fff;
            height: 36px;
            line-height: 36px;
            display: block;
            font-size: 1.4em;
            !important;
        }

    .tk .sure {
        width: 30%;
        margin: 8px 15% 8px 5%;
        float: left;
    }

        .tk .sure a {
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7800, endColorstr=#ff6400);
            background: linear-gradient(top, #ff7800, #ff6800,#ff6e00,#ff7100,#ff6400);
            background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff7800),to(#ff6400));
            color: #fff;
            text-align: center;
            border: 1px solid #ff5000;
            border-radius: 4px;
            height: 36px;
            line-height: 36px;
            display: block;
            box-shadow: 0px 1px 2px #fccea0;
            box-shadow: inset 0px 0px 1px #fccea0;
            font-size: 1.4em;
            !important;
        }

    .tk .btn-no {
        width: 40%;
        margin: 8px auto;
    }

        .tk .btn-no a {
            background: #ff6428;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7800, endColorstr=#ff6400);
            background: linear-gradient(top, #ff7800, #ff6800,#ff6e00,#ff7100,#ff6400);
            background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff7800),to(#ff6400));
            color: #fff;
            text-align: center;
            border: 1px solid #ff5000;
            border-radius: 4px;
            height: 36px;
            line-height: 36px;
            display: block;
            box-shadow: 0px 1px 2px #fccea0;
            box-shadow: inset 0px 0px 1px #fccea0;
            font-size: 1.4em;
            !important;
        }

.inform {
    margin-top: 10px;
}

    .inform h1 {
        font-size: 1.2em;
        height: 24px;
        line-height: 24px;
        padding: 0;
        margin: 0;
        font-weight: normal;
    }

    .inform p {
        line-height: 21px;
        font-size: 1em;
        padding: 0;
        margin:0;
    }
    .inform .orange {font-size: 1em; margin-left:10px;
    }
 .inform .orange:hover{ text-decoration:underline;
}

a.btn-gray {
    color: #999;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eef2f7, endColorstr=#edeff0);
    background: linear-gradient(top, #eef2f7, #eef2f8,#eaeef2,#e6eaee,#edeff0);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eef2f7),to(#edeff0));
    box-shadow: inset 0px 0px 1px #fff;
    display: block;
    font-size: 1.4em;
    !important;
    border: 1px solid #dcdce0;
}

a:hover.btn-gray {
    color: #999;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eef2f7, endColorstr=#edeff0);
    background: linear-gradient(top, #eef2f7, #eef2f8,#eaeef2,#e6eaee,#edeff0);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eef2f7),to(#edeff0));
    box-shadow: inset 0px 0px 1px #fff;
    display: block;
    font-size: 1.4em;
    !important;
    border: 1px solid #ff5000;
}


.list-con {
    overflow: hidden;
    padding: 10px 0;
    margin: 0;
    background: #fff;
    border-bottom: 1px solid #dcdce0;
}

    .list-con .tit {
        background: url(/images/icon-02.png) no-repeat;
        background-size: 24px 24px;
        line-height: 24px;
        padding-left: 34px;
        font-size: 1.3em;
        color: #666;
    }

    .list-con .con {
        overflow: hidden;
        margin: 10px 0 0 36px;
    }

        .list-con .con .img {
            float: left;
            width: 64px;
            margin-right: 10px;
        }

            .list-con .con .img img {
                height: 64px;
                width: 64px;
            }

        .list-con .con .text {
            height:64px;
            z-index: 10;
            position: relative;
            line-height: 21px;
            font-size: 1.6em;
            text-align:left;
        }
        .list-con .con .text .over {
            height: 20px;
            line-height: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
            .list-con .con .text span {
                font-size: 1em;
                height: 21px;
                line-height:21px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

.add {
    padding:0;
  margin:0;
    overflow: hidden;
}

    .add > li {
        width: 50%;
        overflow:hidden;
        float: left;
    margin:10px 0;
    }

        .add > li:nth-child(1),.add > li:nth-child(3) {
            background: url(../images/line.jpg) no-repeat right center;
            background-size: 1px 40px;
        }
    .add > li > a{ display:block; height:44px;}
    .add li img {
        width: 44px;
        height: 44px;
        margin-left:20px;
        float: left;
    }

    .add li .con {
        float: left;
        margin-left: 8px;
        font-size: 1.6em; overflow:hidden;
    }
  .add li .con .text{line-height:44px; font-size: 1em;}

        .add li .con .box-02 {
            font-size: 1.6em;
            color: #444;
        }
.m-btn{ margin:0; padding:0; overflow:hidden; width:100%;}
.m-btn ul { margin:0; padding:0; overflow:hidden; width:100%;}
.m-btn li {float:left;width:25%; display:inline;list-style:none;}
.m-btn a{ width:90%; margin-left:4%;margin-right:4%;color: #444;
        text-align: center;
        border: 1px solid #dcdce0;
        border-radius: 4px;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f0f4fa, endColorstr=#e4e8ec);
        background: linear-gradient(top, #f0f4fa, #eef2f8, #eaeef2, #e6eaee, #e4e8ec);
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f4fa), to(#e4e8ec));
        box-shadow: 0px 1px 2px #e8e8ee;
        box-shadow: inset 0px 0px 1px #fff;
        height: 36px;
        line-height: 36px;
        display:inline-block;
        font-size: 1em; margin-bottom:10px;}

.pay-detail {
    text-align: center;
    border-bottom: 1px solid #dcdce0;
}

    .pay-detail a {
        margin-bottom: 10px;
        display: block;
        background: url(../images/detail.png) no-repeat center center;
        background-size: 120px 24px;
        text-indent: -2000px;
        overflow: hidden;
        height: 24px;
    }

    .bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    height:60px;
    border-top: 1px solid #afafb9;
    width: 100%;
    background: rgba(225,225,230,0.9);
    filter: alpha(opacity=90);
}

    .bottom li {
        width:25%;
        float: left;
    }

        .bottom li a {
            color: #444;
            font-size: 1.1em;
            display:block;
      text-align:center;
        }

            .bottom li a img{ width:24px; height:24px; display:block; margin:5px auto;
            }
.icon-correct {
    height: 18px;
    display: inline-block;
    background: url(../images/arrow-02.png) no-repeat left center;
    background-size: 18px 18px;
    padding-left:24px;
    line-height: 18px;
    font-size: 1em;
    !important;
}

.icon-error {
    height: 18px;
    display: inline-block;
    background: url(../images/arrow-03.png) no-repeat left center;
    background-size: 18px 18px;
    padding-left: 24px;
    line-height: 18px;
    font-size:16px;
}

.tk img {
    width: 100%;
    display: block;
}

.next {
    position: fixed;
    top: 20px;
    right: 0;
    opacity: 1;
    filter: alpha(opacity=0)\9;
    z-index: 999;
}

.next_updown {
    -webkit-animation: next .8s infinite linear;
    animation: next .8s infinite linear;
}

@-webkit-keyframes next {
    50% {
        top: 0px;
    }

    100% {
        top: 20px;
    }
}

@keyframes next {
    50% {
        top: 0px;
    }

    100% {
        top: 20px;
    }
}
table{
     background-color:transparent;
     border-collapse:collapse;
     border-spacing:0;
     width:100%;
     overflow:hidden;
     max-width:100%;
    }

   .table th,.table td{
     overflow:hidden;
     vertical-align:top;
     text-align: center;
     }
   .table th{
     font-weight:bold
     }

    table div{
      text-align: center;
      font-size: 32px;
      color: #090909;
    overflow:hidden;
    position:relative;
    }
    table div img{ width:64px; height:64px;}

/*用户协议*/
.person{
    padding: 10px 10px 0;
    overflow: hidden;
}

    .person h1 {
        font-size: 1.1em;
        height: 21px;
        line-height:21px;
        padding: 0;
        margin:10px 0;
    }
  .person .con {
    overflow:hidden;
    }

    .person .con p,.person .con li {
        line-height: 21px;
        font-size: 1.1em;
        padding: 0;
    margin:0 0 10px 0;
    }
  .person .con p{ text-indent:2em;}
  .person .con span{ font-size:1.1em;}
.buy-ll{ background:#fff;overflow:hidden; padding:0; margin-top:10px;}
.mt10{ margin-top:10px;}
.buy-tel{ width:98px; height:21px; float:left; display:block;line-height:21px;font-size:1em; }
.buy-text{ position:relative; line-height:21px; font-size:1em; color:#888;}
.sale-price{ padding:10px 20px 0; overflow:hidden;}
.sale-price .left{font-size:1em; width:50%; float:left; text-align:left; line-height:24px;}
.sale-price span{font-size:1em; font-weight:600;}
.sale-price .right{ width:50%; float:right;font-size:1em; text-align:right; line-height:24px;}

/*购买红包*/
.buy-red{ padding:30px 0; overflow:hidden; color:#444; position:relative; background:url(../images/buy-bg.jpg) no-repeat; background-size:100%; margin-bottom:10px;}
.buy-red .name-con {
    overflow: hidden;
    font-size: 1em;
    margin-top: 10px;
  text-align:center;
}
.buy-red .name-con .orange {font-size: 1.4em; color:#fff;}
.zd-list{  position:absolute; top:15px; right:15px;}
.zd-list a{color:#fff; font-size:1.2em; background:url(../images/jt.png) no-repeat right center; background-size:7px 12px; padding:12px;}
