<div class="container-fluid">
  {{#each flowHistories}}
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-sm-8">
        <div class="panel panel-info">
          <div class="panel-heading">
            <small class="pull-right text-muted">
               <i class="glyphicon glyphicon-dashboard"></i> 12 mins ago
            </small>
            收入
          </div>
          <div class="panel-body">
              <p>
                {{ comment }}
              </p>
              <p>
                数量: {{ amount }}
                {{#if source.total }}
                  <div class="pull-right">
                    花费：{{ source.total }} 元
                  </div>
                {{/if}}
              </p>
          </div>
          <div class="panel-footer">
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>