<div class="content">
  <div class="form-group">
      <div class="tel-name">手机号码：</div>
      <div class="tel-input">
          <input type="text" class="form-control" placeholder="请输入手机号码" id="mobile" maxlength="11">
      </div>
      <div id="phone-detail" class="correct" style="display: none" >   </div>
  </div>
  <div class="form-group">
      <div class="tel-name" id="balance">选择流量包（您当前可提取流量<span style="color:orange;">0</span>流量币）</div>
      <div class="llb">
        <a class="mask01" data-value="30" data-needflow="500" data-dbkey="fa1b89ef-2977-49b2-90ac-406200ac0011">30M<div class="an"></div></a>
        <a class="mask01" data-value="70" data-needflow="1000" data-dbkey="f56df42f-33ce-42d7-8c59-406200ac3172">70M<div class="an"></div></a>
        <a class="mask01" data-value="150" data-needflow="2000" data-dbkey="ad88391a-5a4c-4133-a9be-406200ac69f9">150M<div class="an"></div></a>
        <a class="mask01" data-value="500" data-needflow="3000" data-dbkey="a39a03f1-5d16-4016-bf36-406200ac9af2">500M<div class="an"></div></a>
        <a class="mask01" data-value="1024" data-needflow="5000" data-dbkey="72caff2a-1267-43f8-98c0-406200accba6">1024M<div class="an"></div></a>
        <a class="mask01" data-value="3072" data-needflow="10000" data-dbkey="75a99716-b0f7-4205-ae95-406200ad0140">3072M<div class="an"></div></a>
        <a class="mask01" data-value="10" data-needflow="300" data-dbkey="6efb917b-a3f4-4a62-9009-409a0092dc85">10M<div class="an"></div></a>
        <a class="mask01" data-value="10" data-needflow="200" data-dbkey="b31fca22-6b20-49e6-a7a5-409a0093439c">10M<div class="an"></div></a>
        <a class="mask01" data-value="30" data-needflow="500" data-dbkey="d6910640-407c-42f1-8e86-40ab00f59036">30M<div class="an"></div></a>
        <a class="mask01" data-value="200" data-needflow="1400" data-dbkey="138a69c7-b577-4618-9247-40ab00fdd84f">200M<div class="an"></div></a>
        <a class="mask01" data-value="50" data-needflow="600" data-dbkey="566841b4-4e14-4db7-bc58-40ab00fe7c1c">50M<div class="an"></div></a>
        <a class="mask01" data-value="100" data-needflow="1000" data-dbkey="786ed52c-1d5c-47bc-bef1-40ab014a514c">100M<div class="an"></div></a>
        <a class="mask01" data-value="10" data-needflow="300" data-dbkey="b672229f-a7b5-4734-816b-40f50142a12a">10M<div class="an"></div></a>
        <a class="mask01" data-value="70" data-needflow="1000" data-dbkey="90965f4e-2cf1-4532-b7fa-40ff00fa2e02">70M<div class="an"></div></a>
        <a class="mask01" data-value="150" data-needflow="2000" data-dbkey="bbb43073-4b1e-43e3-a5ad-40ff00fadfec">150M<div class="an"></div></a>
        <a class="mask01" data-value="500" data-needflow="3000" data-dbkey="e1c4854e-80ac-4813-aa10-40ff00fb5f24">500M<div class="an"></div></a>
        <a class="mask01" data-value="1024" data-needflow="5000" data-dbkey="2794488c-ad12-4999-ba03-40ff00fbf26f">1024M<div class="an"></div></a>
        <a class="mask01" data-value="2048" data-needflow="7000" data-dbkey="ad90e2a4-b577-46b1-b528-40ff00fcb065">2048M<div class="an"></div></a>
        <a class="mask01" data-value="2048" data-needflow="7000" data-dbkey="fe6ddf64-9751-4195-9c82-40ff00fd00f1">2048M<div class="an"></div></a></div>
      <div class="error" style="display: none;"></div>
  </div>
  <div class="sale-price">
      <div class="right">应付流量币：<span id="needmyflow" class="orange">0</span>个</div>
  </div>
  <div class="ml">
      <div class="btn-submit"><a href="javascript:void(0);">提取流量到手机</a></div>
      <div class="zw-tips"><a href="../about/tiquguize.html">提取规则说明</a></div>
      <div class="inform" style="display:none;">
          <h1>提取规则：</h1>
          <p>1、流量币永不过期，提取流量即将您参与活动获得的流量币提取为电信、移动、联通的手机上网流量包。</p>
          <p>2、提取流量范围：中国电信全国、中国联通全国、中国移动广东省。（移动其它省份提取服务将陆续开通）</p>
          <p>3、可以为自己或者朋友的手机号码提取流量包，流量包将在24小时内到账。</p>
          <p>4、手机上网流量包当月提取当月生效，月底到期。</p>
          <p>5、受运营商流量充值规则限制，用户手机以下情形无法提取流量包：停机、欠费、时长卡、未激活、所属套餐不能办理订购流量业务、携号转网用户、移动多号通业务的副号。</p>
          <p>6、受运营商流量充值规则限制，以下情形可能无法提取流量包：中国电信部分省份的4G用户、中国联通部分省份的2G或4G用户、虚拟运营商用户以及流量包叠加充值等。</p>
          <p>7、如果出现提取失败，流量币将在2日内返还到您的流量钱包中。</p>
      </div>
  </div>
</div>

{{> alertmodal }}
{{> confirm }}

<script type="text/javascript" src='/javascript/rechargeflow.js'></script>

<script type="text/javascript">
///手机验证
function isMobile(mobile) {
    var reg = /^1\d{10}$/;
    return reg.test(mobile);
}

function getCarrier(phone){
  $.ajax({
    url: 'https://tcc.taobao.com/cc/json/mobile_tel_segment.htm',
    method: 'GET',
    dataType: 'JSONP',
    data: {
      tel: phone
    }
  }).done(function(result){
    // areaVid: "30517"carrier: "广东移动"catName: "中国移动"ispVid: "3236139"mts: "1382846"province: "广东"
    if(result.catName){
      $("#phone-detail").html(result.catName + ' ' + result.carrier).data("provider", result.carrier).show()
      getTrafficplan(result.catName)
      submitIsEnable(true);
    }else{
      showDialog("请输入正确的手机号码");
    }
  })
}

function getTrafficplan(catName){
  $.ajax({
    url: 'getTrafficplans',
    dataType: 'JSON',
    data: {
      catName: catName
    },
    method: "GET"
  }).done(function(data){
    debugger
  }).fail(function(err){
    console.log(err)
  })
}

$(function() {

  //手机号码失去焦点事件
  $("#mobile").bind("blur", function () {
      var mobile = $.trim($(this).val());
      if ($.trim(mobile) == "") {
          $(".correct").hide();
          $(".correct").html("");
          $(".llb").html("");
          showDialog("请输入手机号码");
          return;
      }
      if (!isMobile(mobile)) {
          $(".correct").hide();
          $(".correct").html("");
          $(".llb").html("");
          showDialog("请输入正确的手机号码");
          return;
      }
      getCarrier(mobile);

  });

})
</script>